<?xml version="1.0"?>

<model>
  <name>track_ground</name>
  <version>1.0</version>
  <sdf version='1.4'>track.sdf</sdf>

  <author>
    <name>Michael Lieschnegg</name>
    <email>li@htl-kaindorf.at</email>
  </author>

  <description>
    Template track for line following.
  </description>
</model>
